/* COLORS
    #F8A074
    #FCE7BE
    #32021E
    #6A2539
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nova Round', cursive;
    width: 100%;
    height: 100vh;
}

.container {
     width: 100%;
     height: 100vh;
     background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) , url(img/bg.png) center no-repeat;
     background-size: cover;
     position: relative;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     transition: all .8s ease-in-out;
     
}
.cloud {
  position: absolute;
  top: 10px;
  left: 0;
  animation: wind 400s infinite;

}
@keyframes wind {
  0% {transform: translateX(-50%);}
  50% {transform: translateX(200%);}
  100% {transform: translateX(-100%);}
}
.block {
  height: 0vh;
  overflow: hidden;
}
.logo-wrapper {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    z-index: 100;
}
.logo-wrapper img {
    width: 100%;
    -webkit-animation: tilt-in-left-2 .5s cubic-bezier(0.950, 0.050, 0.795, 0.035) ;
	        animation: tilt-in-left-2 .5s cubic-bezier(0.950, 0.050, 0.795, 0.035) ;
}
 @keyframes tilt-in-left-2 {
    0% {
      -webkit-transform: rotateX(30deg) translateX(-300px) skewX(30deg);
              transform: rotateX(30deg) translateX(-300px) skewX(30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
              transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }  
/* NAVIGATION BAR */
.navbar {
    width: 100%;
    height: 100vh;
    background-color: #131313f5;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all .5s ease;
    z-index: 1000;
}
.change {
    right: 0;
}
.hamburger-bar {
    width: 40px;
    height: 35px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    transition: all .5s;
}
.hamburger-bar:hover .line {
  background-color: #feffffe2;
}
.line {
    width: 100%;
    height: 3px;
    background-color: #FEFFFF;
    transition: all .5s ease;
}
.change .line1 {
    transform: rotate(-230deg) translate( 15px, -12px);    
}
.change .line2 {
    opacity: 0;
}
.change .line3 {
    transform: rotate(230deg); 
}

.nav-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}
.nav-link {
    margin: 20px 0;
}
.link {
    text-decoration: none;
    color:#64C1B4;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 5px;
    transition: color .5s ease;
}
.link:hover {
    color:#148D8D;
}
.link::before,
.link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #18667A;
    left: 0;
    transform: scale(0);
    transition: all .5s ease-in;
}
.link::before {
    top: 0;
    transform-origin: right;
}
.link::after {
    bottom: 0;
    transform-origin: left;
}
.link:hover::before,
.link:hover::after {
    transform: scale(1);
}
/* END OF NAVIGATION */
header {
    width: 80%;
}
header h1 {
    text-align: center;
    color: #FEFFFF;
    font-size: 50px;
    letter-spacing: 1px;
}
#btn {
  display: block;
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color:#148D8D;
  margin: 50px auto;
  font-size: 18px;
  letter-spacing: 2px;
  color: #FEFFFF;
  cursor: pointer;
  transition: all .5s ease-in;
  text-transform: capitalize;
  animation: shake .8s ease 1s;
}
#btn:hover {
  color: #fff;
  background-color: #64C1B4;
  font-weight: 500;
}
@keyframes shake {
  0% {transform: translateX(0px);}
  10% {transform: translateX(3px);}
  20% {transform: translateX(-3px);}
  30% {transform: translateX(3px);}
  40% {transform: translateX(-3px);}
  50% {transform: translateX(3px);}
  60% {transform: translateX(-3px);}
  70% {transform: translateX(3px);}
  80% {transform: translateX(-3px);}
  90% {transform: translateX(3px);}
  100% {transform: translateX(0px);}
}

footer {
    position: absolute;
    bottom: 80px;
    right: 10px;
    width: 50%;
}
.footer-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.footer-link {
    margin: 0 5%;
}
.footer-link a {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: rgba(255, 255, 255, 0.63);
    transition: all .5s ease-in-out;
}
.footer-link a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .logo-wrapper {
    width: 130px;
  }
  header h1 {
    font-size: 30px;
    letter-spacing: 4px;
  }
  #btn {
    padding: 15px 20px;
  }
}

/* SECOND PART OF WEBSITE */

.second-container {
  height: 0vh;
  overflow: hidden;
  transition: all .8s ease;
}
.appear {
  height: 100vh;
  width: 100%;
  overflow: auto;
}
.description-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #84D5F8;
  flex-wrap: wrap;
}
.second-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}
.second-header h2 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  line-height: 40px;
  margin-bottom: 10px;
}
.description-cta-btn {
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  background: #50AE54;
  padding: 15px 30px;
  border-radius: 10px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: lowercase;
  transition: all .5s ease-in;
}
.description-cta-btn:hover {
  background: #69BA6D;
}

.img-wrapper {
  width: 500px;
  height: 100%;
}
.img-wrapper img {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .second-header {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
/* ABOUT SECTION */
.about-section {
  width: 100%;
}
.about-description {
  width: 100%;
  margin: 40px auto;
}
.about-description h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 22px;
  letter-spacing: 2px;
}

.about-description p {
  text-align: center;
  width: 80%;
  margin: auto;
  font-size-adjust: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  max-width: 900px;
}
/* SKILLS SECTION */
.skills-section {
  width: 100%;
}
.icon-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.icon-card {
  width: 200px;
  margin: 30px 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.icon-card i {
  font-size: 50px;
  color: #D52162;
  margin-bottom: 15px;
}
.icon-card img {
  margin-bottom: 15px;
}
.icon-card p {
  font-size: 20px;
  margin-bottom: 15px;
}
.rating-bar,
.rating-bar-js,
.rating-bar-xd,
.rating-bar-ps {
  width: 150px;
  height: 5px;
  background: #131313ad;
  margin-bottom: 20px;
  border-radius: 8px;
  position: relative;
}
.rating-bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  background-color: rgb(210, 210, 31);
  border-radius: 8px;
}
.rating-bar-js::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgb(210, 210, 31);
  border-radius: 8px;
}
.rating-bar-xd::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: rgb(210, 210, 31);
  border-radius: 8px;
}
.rating-bar-ps::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: rgb(210, 210, 31);
  border-radius: 8px;
}

/* PORTFOLIO SECTION */

.portfolio-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #56ADA9;
  padding-bottom: 100px;
}
.portfolio-section h2 {
  text-align: center;
  margin: 40px;
  font-size: 22px;
  letter-spacing: 2px;
  color: #fff;
}
.portfolio-imgs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio-img-wrapper {
  width: 300px;
  height: 170px;
  margin: 20px;
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
}
.portfolio-img-wrapper img {
  width: 100%;
  height: 100%;
  opacity: .9;
  border-radius: 8px;
  cursor: pointer;
  transition: all .8s ease;
}
.portfolio-img-wrapper img:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media screen and (max-width: 500px) {
  .nodisplay {
    display: none;
  }
}
